<div *ngIf="credentailForm">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="credentailForm" (ngSubmit)="submit()">
        <div nz-row [nzGutter]="16">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>Credential Name</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="LookupValue required!">
                        <input nz-input formControlName="credentialName" placeholder="Enter credential name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>TemplateType</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..."
                        nzErrorTip="CredentailType required!">
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Credentail Type"
                            formControlName="credentialType" [attr.disabled]="actionType === 1 ? true : null"
                            (ngModelChange)='onCredentailTypeSelected($event)'>
                            <nz-option *ngFor="let item of credentailTypeLookup.lookupChildren"
                                [nzLabel]="item.lookupValue" [nzValue]="item.lookupCode">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>Status</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Status required!">
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Status" formControlName="status">
                            <nz-option *ngFor="let item of applicationStatusLookup.lookupChildren"
                                [nzLabel]="item.lookupValue" [nzValue]="item.lookupCode"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="16" id="BASIC_AUTH" *ngIf="credentailForm.get('credentialType').value === 0"
            formGroupName="credentialContent">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>Credential Name</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Username required!">
                        <input nz-input formControlName="username" placeholder="Enter username" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>Credential Password</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Password required!">
                        <input nz-input formControlName="password" placeholder="Enter password" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="16" id="CERTIFICATE" *ngIf="credentailForm.get('credentialType').value === 1"
            formGroupName="credentialContent">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>Credential Name</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Certificate required!">
                        <textarea nz-input formControlName="certificate" placeholder="Enter certificate"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>Credential Password</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="CertKey required!">
                        <textarea nz-input formControlName="certKey" placeholder="Enter certKey"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzRequired>Credential Password</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..."
                        nzErrorTip="CertKeyPassword required!">
                        <input nz-input formControlName="certKeyPassword" placeholder="Enter certKeyPassword" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="16" id="AUTHORIZATION_CODE" *ngIf="credentailForm.get('credentialType').value === 2"
            formGroupName="credentialContent">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>ClientId</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="ClientId required!">
                        <input nz-input formControlName="clientId" placeholder="Enter clientId" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>ClientSecret</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="ClientSecret required!">
                        <input nz-input formControlName="clientSecret" placeholder="Enter clientSecret" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>Scope</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="scope required!">
                        <input nz-input formControlName="scope" placeholder="Enter scope" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>TokenUrl</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="tokenUrl required!">
                        <input nz-input formControlName="tokenUrl" placeholder="Enter tokenUrl" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>Authentication Url</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..."
                        nzErrorTip="authenticationUrl required!">
                        <input nz-input formControlName="authenticationUrl" placeholder="Enter authenticationUrl" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="16" id="AWS_AUTH" *ngIf="credentailForm.get('credentialType').value === 3"
            formGroupName="credentialContent">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>ClientId</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="ClientId required!">
                        <input nz-input formControlName="clientId" placeholder="Enter clientId" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>ClientSecret</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="ClientSecret required!">
                        <input nz-input formControlName="clientSecret" placeholder="Enter clientSecret" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label>Region</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="region" placeholder="Enter region" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label>Bucket</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="bucket" placeholder="Enter bucket" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="16">
                <nz-form-item>
                    <nz-form-label>Other</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="other" placeholder="Enter other" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="16" id="FIREBASE" *ngIf="credentailForm.get('credentialType').value === 4"
            formGroupName="credentialContent">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzRequired>FirePayload</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="FirePayload required!">
                        <textarea nz-input formControlName="firePayload" placeholder="Enter firePayload"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="16" id="FTP" *ngIf="credentailForm.get('credentialType').value === 5"
            formGroupName="credentialContent">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>Host</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Host required!">
                        <input nz-input formControlName="host" placeholder="Enter host" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>Port</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Port required!">
                        <input nz-input formControlName="port" placeholder="Enter port" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="6">
                <nz-form-item>
                    <nz-form-label nzRequired>User</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="User required!">
                        <input nz-input formControlName="user" placeholder="Enter user" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="6">
                <nz-form-item>
                    <nz-form-label nzRequired>Password</nz-form-label>
                    <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Password required!">
                        <input nz-input formControlName="password" placeholder="Enter password" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label>DirectoryPath</nz-form-label>
                    <nz-form-control nzErrorTip="DirectoryPath required!">
                        <input nz-input formControlName="directoryPath" placeholder="Enter directoryPath" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="24" class="search-area">
                <button nz-button type="reset">Clear</button>
                <button nz-button [nzType]="'primary'" [disabled]="!credentailForm.valid" [nzLoading]="loading"
                    type="submit" style="float: right;">Search</button>
            </div>
        </div>
    </form>
</div>