<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" [nzWidth]="isCollapsed ? '85px' : '240px'"
        [(nzCollapsed)]="isCollapsed" [style.max-width.px]="300"
        nzBreakpoint="sm" nzCollapsible>
        <div class="sidebar-logo">
            <a routerLink="/setting">
                <h1 style="margin: 0 0 0 00px;">{{title}}</h1>
            </a>
        </div>
        <!-- hr -->
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <!-- Dashboard -->
            <ng-container *ngIf="dashboardList && commomService.hasPermissionAccess(['VIEW_DASHBOARD_PERMISSION'])">
                <hr style="margin-top: 0px;">
                <h3 style="color: white;text-align: center;">Dashboard</h3>
                <hr style="margin-top: 0px;">
                <ng-container *ngFor="let title of getDashboardKeys()">
                    <li nz-submenu nzTitle="{{title}}" nzIcon="pie-chart">
                        <ul *ngIf="getDashboardValue(title)">
                            <ng-container *ngFor="let dashboard of getDashboardValue(title)">
                                <li nz-menu-item nzMatchRouter style="padding-left: 25px !important;">
                                    <a [routerLink]="['/report/viewDashboard']" 
                                       [queryParams]="{ dashboardId: dashboard.id }">
                                        <span nz-icon nzType="line-chart" nzTheme="outline"></span>
                                        &nbsp;{{dashboard.name}}    
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-container>
            <!-- Report -->
            <ng-container *ngIf="reportList && commomService.hasPermissionAccess(['VIEW_REPORT_PERMISSION'])">
                <hr style="margin-top: 0px;">
                <h3 style="color: white;text-align: center;">Report</h3>
                <hr style="margin-top: 0px;">
                <ng-container *ngFor="let title of getReportKeys()">
                    <li nz-submenu nzTitle="{{title}}" nzIcon="paper-clip">
                        <ul *ngIf="getReportValue(title)">
                            <ng-container *ngFor="let report of getReportValue(title)">
                                <li nz-menu-item nzMatchRouter style="padding-left: 25px !important;">
                                    <a [routerLink]="['/report/viewReport']"
                                        [queryParams]="{ reportId: report.id }">
                                        <span nz-icon nzType="file-text" nzTheme="outline"></span>
                                        &nbsp;{{report.name}}
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-container>
        </ul>
        <!-- hr -->
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <div nz-row>
                    <div nz-col [nzSpan]="16" [nzXs]="{span: 16}" [nzSm]="{span: 12}" [nzMd]="{span: 20}">
                        <ul nz-menu nzMode="horizontal">
                            <span class="trigger" nz-icon style="margin-left: 15px;"
                                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                                (click)="isCollapsed = !isCollapsed"></span>&nbsp;
                            <li nz-menu-item (click)="home()" style="font-size: 15px !important;">
                                <span nz-icon nzType="home" nzTheme="outline"></span> Home
                            </li>
                            <li nz-menu-item (click)="back()" style="font-size: 15px !important;">
                                <span nz-icon nzType="rollback" nzTheme="outline"></span> Back
                            </li>
                        </ul>
                    </div>
                    <div nz-col [nzSpan]="16" [nzXs]="{span: 8}" [nzSm]="{span: 12}" [nzMd]="{span: 4}"
                        style="text-align: end;padding-right: 20px">
                        <action-header-list></action-header-list>
                    </div>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <!-- breadcrumb -->
            <app-breadcrumb></app-breadcrumb>
            <!-- inner layout -->
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>