<nz-header>
    <div nz-row class="app-header">
        <div nz-col nzMd="2" style="text-align: center;">
            <a routerLink="/dashboard" style="color: black;">
                ETL Source 2023
            </a>
        </div>
        <div nz-col nzMd="17">
            <ul nz-menu nzMode="horizontal">
                <li *ngIf="hasPermissionAccess(['SOURCE_JOB_PERMISSION'])" class="hli" nz-menu-item>
                    <a nz-dropdown [nzDropdownMenu]="menu">
                        <span nz-icon nzType="appstore"></span> Source Job</a>
                </li>
                <li *ngIf="hasPermissionAccess(['REPORT_PAGE_PERMISSION'])" nz-menu-item
                    class="hli" routerLink="/report">
                    <span nz-icon nzType="line-chart" nzTheme="outline"></span> Report & Dashboard
                </li>
                <li *ngIf="hasPermissionAccess(['ADMIN_PAGE_PERMISSION'])" nz-menu-item
                    class="hli" routerLink="/setting">
                    <span nz-icon nzType="setting" nzTheme="outline"></span> Source & App Setting
                </li>
            </ul>
        </div>
        <div nz-col nzMd="5" style="text-align: end;padding-right: 20px">
            <nz-badge nzSize="small" style="margin-right: 20px;" nzShowZero
                [nzCount]="jobNotifactionData.length + userNotifactionData.length">
                <nz-avatar class="bell-notification" nzIcon="bell" nz-dropdown
                    [nzDropdownMenu]="bellAction">
                </nz-avatar>
            </nz-badge>
            <nz-avatar nzIcon="user" nz-dropdown [nzDropdownMenu]="userAction"
                nzSrc="{{'./assets/avatar/' + currentUser.profileImage }}">
            </nz-avatar>
        </div>
    </div>
</nz-header>
<!-- user -->
<nz-dropdown-menu #userAction="nzDropdownMenu">
    <app-user-action [currentUser]="currentUser"></app-user-action>
</nz-dropdown-menu>
<!-- notifaction -->
<nz-dropdown-menu #bellAction="nzDropdownMenu">
    <app-notifaction-action
        [jobNotifactionData]="jobNotifactionData"
        [userNotifactionData]="userNotifactionData">
    </app-notifaction-action>
</nz-dropdown-menu>
<!-- source job-menu -->
<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
        <li nz-menu-item>Running Jobs</li>
        <li nz-menu-item>Queue Jobs</li>
    </ul>
</nz-dropdown-menu>