<!-- user-table detail -->
<div class="content">
    <nz-tabset nzSize="small" nzTabPosition="left">
        <nz-tab [nzTitle]="subUserTemplate">
            <ng-template #subUserTemplate>
                <span nz-icon nzType="usergroup-add" nzTheme="outline"
                    nz-tooltip nzTooltipTitle="{{subUserTable.title}}">
                </span>
            </ng-template>
            <h3>
                <span nz-icon nzType="link" nzTheme="outline"></span>
                {{subUserTable.title}}
            </h3>
            <nz-divider style="margin: 5px 0;"></nz-divider>
            <app-gen-table *ngIf="subUserTable"
                [isDateFilter]="true"
                [startDate]="startDateSubUser"
                [endDate]="endDateSubUser"
                [setOfCheckedId]="setOfCheckedIdSubUser"
                [staticTable]="subUserTable"
                (buttonEventEmitter)="subUserButtonActionReciver($event)"
                (actionEventEmitter)="subUserTableActionReciver($event)"
                (filterEventEmitter)="subUserFilterActionReciver($event)"
                (extraEventEmitter)="subUserExtraActionReciver($event)">
            </app-gen-table>
        </nz-tab>
        <!-- user who direct register -->
        <nz-tab *ngIf="commomService.hasPermissionAccess(sessionUser.roles, ['ROLE_MASTER_ADMIN'])"
            [nzTitle]="unGroupUserTemplate">
            <ng-template #unGroupUserTemplate>
                <span nz-icon nzType="ungroup" nzTheme="outline"
                    nz-tooltip nzTooltipTitle="{{singleUserTable.title}}">
                </span>
            </ng-template>
            <h3>
                <span nz-icon nzType="link" nzTheme="outline"></span>
                {{singleUserTable.title}}
            </h3>
            <nz-divider style="margin: 5px 0;"></nz-divider>
            <app-gen-table *ngIf="singleUserTable"
                [isDateFilter]="true"
                [startDate]="startDateSingleUser"
                [endDate]="endDateSingleUser"
                [setOfCheckedId]="setOfCheckedIdSingleUser"
                [staticTable]="singleUserTable"
                (buttonEventEmitter)="singleUserButtonActionReciver($event)"
                (actionEventEmitter)="singleUserTableActionReciver($event)"
                (filterEventEmitter)="singleUserFilterActionReciver($event)"
                (extraEventEmitter)="singleUserExtraActionReciver($event)">
            </app-gen-table>
        </nz-tab>
    </nz-tabset>
</div>