
<!-- my-info  -->
<app-user-info [userInfo]="sessionUser"></app-user-info>
<div class="content" style="margin-top: 10px;">
    <h3>
        <span nz-icon nzType="link" nzTheme="outline"></span>
        Mg Organization
    </h3>
    <nz-divider style="margin: 5px 0;"></nz-divider>
</div>
<nz-row nzGutter="16">
    <ng-container *ngFor="let organization of organizations">
        <nz-col [nzSpan]="8" [nzXs]="{span: 24}" [nzSm]="{span: 24}" [nzMd]="{span: 8}">
            <nz-card nzTitle="#{{ organization.id }} {{ organization.name }}"
                nz-tooltip nzTooltipTitle="#{{ organization.id }} {{ organization.name }}"
                [nzActions]="[actionEdit, actionUserSetting, actionMore]"
                [nzExtra]="extraTemplate" class="nz-card-aligment">
                <nz-row nzGutter="16">
                    <nz-col [nzSpan]="12">
                        <span  style="color: green;font-weight: bold;">
                            <span nz-icon nzType="usergroup-add"></span>
                            Active User = 20
                        </span>
                    </nz-col>
                    <nz-col [nzSpan]="12"
                        style="text-align: end;">
                        <span style="color: orange;font-weight: bold;">
                            <span nz-icon nzType="usergroup-delete"></span>
                            Inactive User = 0
                        </span>
                    </nz-col>
                </nz-row>
                <nz-divider style="margin: 5px 0;"></nz-divider>
                <p id="email">
                    <span nz-icon nzType="mail" nzTheme="outline"></span>
                    <span> Email: </span> {{organization.email}}
                </p>
                <p id="phone">
                    <span nz-icon nzType="phone" nzTheme="outline"></span>
                    <span> Phone: </span> {{organization.phone}}
                </p>
                <p id="address">
                    <span nz-icon nzType="home" nzTheme="outline"></span>
                    <span> Address:</span> {{organization.address}}, {{organization.country}}
                </p>
                <nz-divider style="margin: 5px 0;"></nz-divider>
                <nz-row nzGutter="16">
                    <nz-col [nzSpan]="24" class="progress-detail">
                        <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="70" nzType="circle" [nzWidth]="45" nzStatus="exception"></nz-progress>
                        <nz-progress [nzPercent]="100" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="70" nzType="circle" [nzWidth]="45" nzStatus="exception"></nz-progress>
                        <nz-progress [nzPercent]="100" nzType="circle" [nzWidth]="45"></nz-progress>
                        <nz-progress [nzPercent]="70" nzType="circle" [nzWidth]="45" nzStatus="exception"></nz-progress>                        
                    </nz-col>
                </nz-row>
            </nz-card>
            <!-- extra-work -->
            <ng-template #extraTemplate>
                <nz-tag><b>Active</b></nz-tag>
                <nz-avatar nzSrc="./assets/avatar/spring.png"></nz-avatar>
            </ng-template>
            <ng-template #actionEdit>
                <span nz-icon nzType="edit"></span>
            </ng-template>
            <ng-template #actionUserSetting>
                <span nz-icon nzType="usergroup-add"></span>
            </ng-template>
            <ng-template #actionMore>
                <span nz-icon nzType="ellipsis"></span>
            </ng-template>               
        </nz-col>
    </ng-container>
</nz-row>