p {
    margin: 8px 0;
    color: #555;
}
p span {
    font-weight: bold;
    color: #000;
}

.ant-card-bordered {
    border: 1px solid #fff;
}

.nz-card-aligment {
    width: 100%;
    margin-bottom: 16px;
    /* border-radius: 10px; */
}

.chart-height {
    height: 180px;
    overflow-y: auto;
}


.pagination-div {
    padding: 8px !important;
    margin-bottom: 0px !important;
}

.action-button {
    background: white;
    border: 1px solid;
}

.create-date {
    float: inline-end;
    margin-right: 0px;
    color: black;
    font-size: 9px;
}