<form nz-form [formGroup]="companyForm" [nzLayout]="'vertical'" 
    (ngSubmit)="onSubmit()">
    <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Company Name</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please input your company name.">
                    <input nz-input type="text" formControlName="name"
                        placeholder="Enter Company Name"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Company Email</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please input your company email.">
                    <input nz-input type="email" formControlName="email"
                        placeholder="Enter Company Email"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Company Address</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please input your company address.">
                    <input nz-input type="text" formControlName="address"
                        placeholder="Enter Company Address"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Company Phone</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please input your company phone.">
                    <input nz-input type="text" formControlName="phone"
                        placeholder="Enter Company Phone"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24" style="text-align: end;">
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary"
                        [disabled]="!companyForm.valid">Submit</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>