<div class="content" *ngIf="editPayload">
    <nz-descriptions [nzTitle]="controlTitle" [nzExtra]="extraTpl" nzSize="small" [nzColumn]="3">
        <ng-template #controlTitle>
            <span nz-icon nzType="link" nzTheme="outline"></span>
            ({{editPayload.id}}) {{editPayload.serviceName}}
        </ng-template>
        <nz-descriptions-item nzTitle="Task Type" nzSpan="1">{{editPayload.taskType?.lookupValue}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Description" nzSpan="1">{{editPayload.description}}</nz-descriptions-item>
    </nz-descriptions>
    <!-- extra tpl -->
    <ng-template #extraTpl>
        <p>
            Date: [{{editPayload.dateCreated | date}} | {{editPayload.dateUpdated | date}}]
            <nz-tag class="{{editPayload.status?.lookupType}}">
                <nz-badge nzStatus="processing"></nz-badge>
                <span>{{editPayload.status?.lookupValue}}</span>
            </nz-tag>
        </p>
    </ng-template>
</div>
<!-- STTS -->
<div class="content">
    <nz-tabset [nzTabBarExtraContent]="refreshTemplate">
        <nz-tab [nzTitle]="linkControl">
            <ng-template #linkControl>
                <span nz-icon nzType="link" nzTheme="outline"></span>
                Form Link With Form
            </ng-template>
            <div class="content" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">
                <nz-transfer nzShowSearch [nzDataSource]="sttLinkFormLink" [nzOperations]="['To Right', 'To Left']"
                    [nzListStyle]="{ 'width.px': 500, 'height.px': 325 }" [nzRender]="render"
                    (nzChange)="onChange($event)">
                    <ng-template #render let-item>[{{ item.description }}] {{ item.title }}</ng-template>
                </nz-transfer>
            </div>
        </nz-tab>
    </nz-tabset>
    <!-- refreshTemplate -->
    <ng-template #refreshTemplate>
        <button nz-button [nzSize]="'small'"
            nzType="default" (click)="refresh()">
            Refresh
        </button>
    </ng-template>
</div>