.register-are {
    margin-bottom: 8px;
}

.parent {
    margin: auto;
    width: 80%;
    padding: 80px;
}

.register {
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 50px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-button {
    width: 100%;
}