.register {
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 50px;
}

.register-form-margin {
    margin-bottom: 16px;
}

.register-form-button {
    width: 100%;
}