<form nz-form [nzLayout]="'vertical'"
    [formGroup]="templateForm" (ngSubmit)="submit()">
    <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>Template Name</nz-form-label>
                <nz-form-control nzErrorTip="Template Name Required">
                    <input nz-input formControlName="templateName"
                        oninput="this.value = this.value.toUpperCase()"
                        placeholder="Enter Template Name"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Template Description</nz-form-label>
                <nz-form-control nzErrorTip="Template Description Required">
                    <textarea nz-input formControlName="description"
                        [nzAutosize]="{ minRows: 3}"
                        placeholder="Enter Template Description"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24" *ngIf="actionType === editAction">
            <nz-form-item>
                <nz-form-label nzRequired>Template Status</nz-form-label>
                <nz-form-control nzErrorTip="Template Status Required">
                    <nz-select nzShowSearch nzAllowClear formControlName="status"
                        nzPlaceHolder="Select Template Status">
                        <nz-option *ngFor="let lookupChildren of APPLICATION_STATUS?.SUB_LOOKUP_DATA" 
                            [nzLabel]="lookupChildren.lookupValue"
                            [nzValue]="lookupChildren.lookupCode">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Template Content</nz-form-label>
                <nz-form-control nzErrorTip="Template Content Required">
                    <textarea nz-input formControlName="templateContent"
                        [nzAutosize]="{ minRows: 3}"
                        placeholder="Enter Template Content"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button type="reset">Clear</button>
            <button nz-button [nzType]="'primary'"
                [disabled]="!templateForm.valid"
                type="submit" style="float: right;">
                Submit
            </button>
        </div>
    </div>
</form>