<ul nz-menu nzSelectable style="width: 250px;">
    <li nz-menu-item disabled style="font-weight: bold; font-size: 16px;">
        <span nz-icon nzType="setting" nzTheme="outline"></span>&nbsp;Settings
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item routerLink="/user/myProfile">
        <span nz-icon nzType="profile" nzTheme="outline"></span>&nbsp;Update Profile
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item routerLink="/user/notification">
        <span nz-icon nzType="notification" nzTheme="outline"></span>&nbsp;View Notification
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item routerLink="/user/setting">
        <span nz-icon nzType="setting" nzTheme="outline"></span>&nbsp;Configuration
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item disabled style="font-weight: bold; font-size: 16px;">
        <span nz-icon nzType="robot" nzTheme="outline"></span>&nbsp;AI Tool
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item routerLink="/ai/image-generator">
        <span nz-icon nzType="picture" nzTheme="outline"></span>&nbsp;AI Image Generator
    </li>
    <li nz-menu-item routerLink="/ai/chatbot">
        <span nz-icon nzType="message" nzTheme="outline"></span>&nbsp;AI Chatbot Assistant
    </li>
    <li nz-menu-item routerLink="/ai/code-helper">
        <span nz-icon nzType="code" nzTheme="outline"></span>&nbsp;AI Code Helper
    </li>
    <li nz-menu-item routerLink="/ai/data-analyzer">
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>&nbsp;AI Data Analyzer
    </li>
</ul>