<div class="content">
    <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="24">
            <h3>
                <span nz-icon nzType="link" nzTheme="outline"></span>
                {{eventBridgeTable.title}}
            </h3>
        </div>
        <div nz-col nzSpan="24">
            <nz-alert nzType="info" nzShowIcon
                nzMessage="FOR :- WebHook (Receive) & Report API (Send),
                Use Header KEY: [[Reciver:- XRHK-Authorization], [Send:- XSHK-Authorization]] & Token-Id,
                Value:[[BEARER:- Bearer Token], [token-id]]">
            </nz-alert>
        </div>
    </div>
    <nz-divider style="margin: 5px 0;"></nz-divider>
    <app-gen-table 
        *ngIf="eventBridgeTable"
        [setOfCheckedId]="setOfCheckedId"
        [staticTable]="eventBridgeTable"
        (actionEventEmitter)="tableActionReciver($event)"
        (buttonEventEmitter)="buttonActionReciver($event)"
        (extraEventEmitter)="extraActionReciver($event)">
    </app-gen-table>
</div>
