<div nz-row class="content">
    <div nz-col [nzSpan]="8">
        <input nz-input [(ngModel)]="searchDetails" placeholder="Search Result" />
    </div>
    <div nz-col [nzSpan]="16" style="text-align: end;">
        <!-- more action -->
        <nz-button-group>
            <nz-form-control>
                <input nz-input type="date" [(ngModel)]="startDate" />
            </nz-form-control> &nbsp;
            <nz-form-control>
                <input nz-input type="date" [(ngModel)]="endDate" />
            </nz-form-control>
        </nz-button-group>&nbsp;
        <nz-button-group>
            <button *ngFor='let button of headerButton' nz-button nz-tooltip nzType="default"
                nzTooltipTitle="{{ button?.tooltipTitle }}">
                <span nz-icon nzTheme="outline" [nzType]="button.type" [nzSpin]="button.spin"
                    [ngStyle]="{'color': button.color}">
                </span>
            </button>
        </nz-button-group>
    </div>
    <div nz-col [nzSpan]="24">
        <nz-divider style="margin: 8px 0;"></nz-divider>
        <div class="my-ads-content">
            <div nz-row [nzGutter]="16" class="card-content">
                <ng-container *ngFor='let loop of iterationArray'>
                    <div nz-col [nzSpan]="6">
                        <nz-card nzHoverable [nzExtra]="actionEdit" nzTitle="TK:HEC Report 2020">
                            <nz-descriptions nzBordered [nzSize]="'small'">
                                <nz-descriptions-item nzTitle="Crated" [nzSpan]="3">
                                    <nz-badge nzStatus="error" nz-tooltip nzTooltipTitle="In Active"></nz-badge> 2024-05-11
                                </nz-descriptions-item>
                                <!-- <nz-descriptions-item nzTitle="Crated" [nzSpan]="3">
                                    1=>super_admin93
                                </nz-descriptions-item> -->
                                <nz-descriptions-item nzTitle="Task Type" [nzSpan]="3">
                                    <nz-badge nzStatus="error"  nz-tooltip nzTooltipTitle="In Active"></nz-badge> WEB SCRAPPING
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Form" [nzSpan]="3">
                                    <nz-badge nzStatus="success" nz-tooltip nzTooltipTitle="Active"></nz-badge> PakWheels
                                </nz-descriptions-item>
                            </nz-descriptions>
                        </nz-card>&nbsp;&nbsp;
                        <ng-template #actionEdit>
                            <label nz-checkbox></label>&nbsp;
                            <a nz-dropdown [nzDropdownMenu]="menu">
                                More
                                <span nz-icon nzType="down"></span>
                            </a>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu nzSelectable>
                                    <li nz-menu-item nz-tooltip nzTooltipTitle="Edit">
                                        <span nz-icon nzType="edit"></span>&nbsp;Edit
                                    </li>
                                    <li nz-menu-item nz-tooltip nzTooltipTitle="Delete">
                                        <span nz-icon nzType="delete"></span>&nbsp;Delete
                                    </li>
                                    <li nz-menu-item nz-tooltip nzTooltipTitle="Fill Form">
                                        <span nz-icon nzType="folder-view"></span>&nbsp;Fill Form
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </ng-template>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>