textarea+textarea {
    margin-top: 24px;
}

.ant-table.ant-table-small {
    font-size: 10px !important;
}

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;
}

.dynamic-delete-button:hover {
    color: #777;
}

.add-button {
    width: 20%;
}