<nz-form-item *ngIf="control" [formGroup]="field">
    <nz-form-label nzRequired="{{ control.validators.length > 0 }}">
        {{control.label}}
    </nz-form-label>
    <nz-form-control>
        <input nz-input
            formControlName="name"
            [pattern]="control.pattern"
            [type]="control.type.lookupType.toLowerCase()"
            [disabled]="control.disabledPattern"
            [placeholder]="control.placeHolder"/>
    </nz-form-control>
    <div style="color: red !important;">
        <span *ngIf="field.get('name')!.dirty">
            {{ getErrorMessage(control)}}
        </span>
    </div>
</nz-form-item>