<div class="content">
    <h3>Mg Form</h3>
    <nz-divider style="margin: 5px 0;"></nz-divider>
    <app-gen-table 
        *ngIf="genFormTable"
        [isDateFilter]="true"
        [startDate]="startDate"
        [endDate]="endDate"
        [setOfCheckedId]="setOfCheckedId"
        [staticTable]="genFormTable"
        (actionEventEmitter)="tableActionReciver($event)"
        (buttonEventEmitter)="buttonActionReciver($event)"
        (filterEventEmitter)="filterActionReciver($event)"
        (extraEventEmitter)="extraActionReciver($event)">
    </app-gen-table>
</div>
