<form nz-form [nzLayout]="'vertical'"
    [formGroup]="userForm"
    (ngSubmit)="submit()">
    <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>FirstName</nz-form-label>
                <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="firstnameErrorTpl">
                    <input nz-input formControlName="firstName" placeholder="Enter FirstName" />
                    <ng-template #firstnameErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input your firstname!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>LastName</nz-form-label>
                <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="lastnameErrorTpl">
                    <input nz-input formControlName="lastName" placeholder="Enter LastName" />
                    <ng-template #lastnameErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input your lastname!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Username</nz-form-label>
                <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="username" placeholder="Enter Username" />
                    <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input your username!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>E-mail</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
                    <input nz-input formControlName="email" placeholder="Enter Email" type="email" />
                    <ng-template #emailErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('email')">
                            The input is not valid E-mail!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input your E-mail!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="actionType !== editAction">
            <nz-form-item>
                <nz-form-label nzRequired>Password</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please input your password!">
                    <input nz-input type="password" formControlName="password" placeholder="Enter Password"
                        (ngModelChange)="validateConfirmPassword()" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="actionType !== editAction">
            <nz-form-item>
                <nz-form-label nzRequired>Confirm Password</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                    <input nz-input type="password" formControlName="confirm" placeholder="Enter Confirm Password" />
                    <ng-template #passwordErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please confirm your password!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">
                            Password is inconsistent!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="profiles">
            <nz-form-item>
                <nz-form-label nzRequired>Profile</nz-form-label>
                <nz-form-control nzErrorTip="Profile Required">
                    <nz-select nzShowSearch nzAllowClear formControlName="profile" nzPlaceHolder="Select Profile"
                        (ngModelChange)="onProfileRoleSelect($event)">
                        <nz-option *ngFor="let profile of profiles"
                            [nzLabel]="profile.description" [nzValue]="profile.profileName">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="ACCOUNT_TYPE">
            <nz-form-item>
                <nz-form-label nzRequired>Account Type</nz-form-label>
                <nz-form-control nzErrorTip="Account Type Required">
                    <nz-select nzShowSearch nzAllowClear formControlName="accountType"
                        nzPlaceHolder="Select Account Type">
                        <nz-option *ngFor="let lookupChildren of ACCOUNT_TYPE?.SUB_LOOKUP_DATA"
                            [nzLabel]="lookupChildren.lookupValue" [nzValue]="lookupChildren.lookupCode">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>IP Address</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please input a valid IP address!">
                    <input nz-input type="text" formControlName="ipAddress"
                        placeholder="Enter IP Address" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button type="reset">Clear</button>
            <button nz-button [nzType]="'primary'"
                [disabled]="!userForm.valid" 
                type="submit" style="float: right;">
                Submit
            </button>
        </div>
    </div>
</form>