<ul nz-menu nzSelectable style="width: 300px;">
    <li nz-menu-item>
        <div class="ant-list-item-meta">
            <div class="ant-list-item-meta-avatar">
                <nz-avatar [nzSize]="48" [nzShape]="'square'" [nzIcon]="'user'"
                    nzSrc="{{'./assets/avatar/' + sessionUser.profileImage }}">
                </nz-avatar>
            </div>
            <div class="ant-list-item-meta-content">
                <h4 class="ant-list-item-meta-title">
                    Username : {{sessionUser.username | uppercase}}
                </h4>
                <div class="ant-list-item-meta-description">
                    <div class="pt-1" style="line-height: 15px;">
                        <div class="text-muted">
                            Name : {{sessionUser.firstName}} {{sessionUser.lastName}}
                        </div>
                        <div class="text-muted">
                            Email : {{sessionUser.email}}
                        </div>
                        <div class="text-muted">
                            IP Address : {{sessionUser.ipAddress}}
                        </div>
                        <div class="text-muted">
                            Profile : {{sessionUser.profile?.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item routerLink="/user/myProfile">
        <span nz-icon nzType="profile" nzTheme="outline"></span>&nbsp;Update Profile
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="poweroff" nzTheme="outline" class="poweroff_btn"></span>&nbsp;LOGOUT
    </li>
</ul>