.forgot-form {
    max-width: 300px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 50px;
}

.forgot-form-button {
    width: 100%;
}

.forgot-form-margin {
    margin-bottom: 16px;
}