<div class="parent">
    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
        <h3 class="text-center">Login</h3>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input 
                        formControlName="username" placeholder="Username" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input 
                        formControlName="password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
            <!-- <div nz-col [nzSpan]="12">
                <a (click)="register()">Register now!</a>
            </div> -->
            <div nz-col [nzSpan]="12">
                <a routerLink="/forgotpass">Forgot password</a>
            </div>
            <div nz-col [nzSpan]="12">
                <button nz-button class="login-form-button login-form-margin" 
                [nzType]="'primary'" [nzLoading]="loading">Log in</button>
            </div>
        </div>
    </form>
</div>