<form nz-form [nzLayout]="'vertical'" [formGroup]="eventBridgeForm" (ngSubmit)="onSubmit()">
    <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>Name</nz-form-label>
                <nz-form-control nzErrorTip="Event Bridge Name Required">
                    <input nz-input formControlName="name"
                        oninput="this.value = this.value.toUpperCase()"
                        placeholder="Enter Event Bridge Name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>Event Bridge Url</nz-form-label>
                <nz-form-control nzErrorTip="Event Bridge Url Required">
                    <input nz-input formControlName="bridgeUrl"
                        placeholder="Enter Event Bridge Url" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="14">
            <nz-form-item>
                <nz-form-label nzRequired>Event Bridge Type</nz-form-label>
                <nz-form-control nzErrorTip="Event Bridge Type Required">
                    <nz-select nzShowSearch nzAllowClear
                        formControlName="bridgeType"
                        nzPlaceHolder="Select Event Bridge Type">
                        <nz-option *ngFor="let lookupChildren of EVENT_BRIDGE_TYPE?.SUB_LOOKUP_DATA"
                            [nzLabel]="lookupChildren.lookupValue" [nzValue]="lookupChildren.lookupCode">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="10">
            <nz-form-item>
                <nz-form-label nzRequired>Request Method</nz-form-label>
                <nz-form-control nzErrorTip="Request Method Required">
                    <nz-select nzShowSearch nzAllowClear formControlName="httpMethod"
                        nzPlaceHolder="Select Request Method">
                        <nz-option *ngFor="let lookupChildren of REQUEST_METHOD?.SUB_LOOKUP_DATA"
                            [nzLabel]="lookupChildren.lookupValue"
                            [nzValue]="lookupChildren.lookupCode">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="actionType === editAction ? 14 : 24" *ngIf="credentials">
            <nz-form-item>
                <nz-form-label nzRequired>Credential</nz-form-label>
                <nz-form-control>
                    <nz-select nzShowSearch nzAllowClear formControlName="credentialId"
                        nzPlaceHolder="Select Credential">
                        <nz-option *ngFor="let credential of credentials"
                            nzLabel="{{credential.name}} [{{commomService.getDataFromObject(credential.status)}}]"
                            [nzValue]="credential.id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="10" *ngIf="actionType === editAction">
            <nz-form-item>
                <nz-form-label nzRequired>Bridge Status</nz-form-label>
                <nz-form-control nzErrorTip="Event Bridge Status Required">
                    <nz-select nzShowSearch nzAllowClear formControlName="status"
                        nzPlaceHolder="Select Event Bridge Status">
                        <nz-option *ngFor="let lookupChildren of APPLICATION_STATUS?.SUB_LOOKUP_DATA"
                            [nzLabel]="lookupChildren.lookupValue"
                            [nzValue]="lookupChildren.lookupCode">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Event Bridge Description</nz-form-label>
                <nz-form-control nzErrorTip="Event Bridge Description Required">
                    <textarea nz-input formControlName="description"
                        [nzAutosize]="{ minRows: 2}"
                        placeholder="Enter Event Bridge Description"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button type="reset">Clear</button>
            <button nz-button [nzType]="'primary'"
                [disabled]="!eventBridgeForm.valid"
                [nzLoading]="loading" type="submit"
                style="float: right;">
                Submit
            </button>
        </div>
    </div>
</form>