<nz-form-item *ngIf="control" [formGroup]="fields">
    <nz-form-label nzRequired="{{ control.validators.length > 0 }}">
        {{control.label}}
    </nz-form-label>
    <nz-form-control>
        <textarea nz-input rows="5"
            [id]="control.name"
            [name]="control.name"
            [formControlName]="control.name"
            [disabled]="control.disabledPattern"
            [placeholder]="control.placeHolder"></textarea>
    </nz-form-control>
    <div style="color: red !important;">
        <span *ngIf="getFiledControl(control.name)!.dirty">
            {{ getErrorMessage(control)}}
        </span>
    </div>
</nz-form-item>
