<div nz-row [nzGutter]="16" class="content">
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
    <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
        <div nz-col [nzSpan]="4">
        <div id="demo1" echarts theme="macarons"
            class="demo-chart" [options]="drawLeadCountByMonth">
        </div>
    </div>
</div>