.reset-form {
    max-width: 300px;
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 50px;
}

.reset-form-button {
    width: 100%;
}

.reset-form-margin {
    margin-bottom: 16px;
}