<form *ngIf="credentialForm" nz-form [nzLayout]="'vertical'" [formGroup]="credentialForm" (ngSubmit)="onSubmit()">
    <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Credential Name</nz-form-label>
                <nz-form-control nzErrorTip="Credential Name Is Required">
                    <input nz-input formControlName="name" type="text" oninput="this.value = this.value.toUpperCase()"
                        placeholder="Enter Credential Name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="6" *ngIf="CREDENTIAL_TYPE">
            <nz-form-item>
                <nz-form-label nzRequired>Credential Type</nz-form-label>
                <nz-form-control nzErrorTip="Credential Type Required">
                    <nz-select nzShowSearch nzAllowClear formControlName="type" nzPlaceHolder="Select Credential Type"
                        [attr.disabled]="actionType === editAction ? true : null"
                        (ngModelChange)="onCredentailTypeSelected($event)">
                        <nz-option *ngFor="let lookupChildren of CREDENTIAL_TYPE?.SUB_LOOKUP_DATA"
                            [nzLabel]="lookupChildren.lookupValue" [nzValue]="lookupChildren.lookupCode">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="6" *ngIf="actionType === editAction">
            <nz-form-item>
                <nz-form-label nzRequired>Credential Status</nz-form-label>
                <nz-form-control nzErrorTip="Credential Status Required">
                    <nz-select nzShowSearch nzAllowClear formControlName="status"
                        nzPlaceHolder="Select Credential Status">
                        <nz-option *ngFor="let lookupChildren of APPLICATION_STATUS?.SUB_LOOKUP_DATA"
                            [nzLabel]="lookupChildren.lookupValue" [nzValue]="lookupChildren.lookupCode">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="16" id="BASIC_AUTH" *ngIf="f['type']?.value === BASIC_AUTH" formGroupName="content">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Username</nz-form-label>
                <nz-form-control nzErrorTip="Username Is Required">
                    <input nz-input formControlName="username" type="text" placeholder="Enter Username" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Password</nz-form-label>
                <nz-input-group class="form-input-grp" [nzSuffix]="suffixTemplate">
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input class="form-input"
                        formControlName="password" placeholder="Enter Password" />
                    <ng-template #suffixTemplate>
                        <span nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible' "
                            (click)="passwordVisible = !passwordVisible"></span>
                    </ng-template>
                </nz-input-group>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="16" id="CERTIFICATE" *ngIf="f['type']?.value === CERTIFICATE" formGroupName="content">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Cert Key</nz-form-label>
                <nz-form-control nzErrorTip="Cert Key Is Required">
                    <input nz-input formControlName="certKey" type="text" placeholder="Enter Cert Key" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Cert KeyPassword</nz-form-label>
                <nz-form-control nzErrorTip="Cert KeyPassword Is Required">
                    <input nz-input formControlName="certKeyPassword" type="text"
                        placeholder="Enter Cert KeyPassword" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>Certificate</nz-form-label>
                <nz-form-control nzErrorTip="Certificate Is Required">
                    <textarea nz-input formControlName="certificate" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                        placeholder="Enter Certificate"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="16" id="AUTHORIZATION_CODE" *ngIf="f['type']?.value === AUTHORIZATION_CODE"
        formGroupName="content">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>ClientId</nz-form-label>
                <nz-form-control nzErrorTip="ClientId Is Required">
                    <input nz-input formControlName="clientId" type="text" placeholder="Enter ClientId" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Client Secret</nz-form-label>
                <nz-form-control nzErrorTip="Client Secret Is Required">
                    <input nz-input formControlName="clientSecret" type="text" placeholder="Enter Client Secret" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>Auth Url</nz-form-label>
                <nz-form-control nzErrorTip="Auth Url Is Required">
                    <input nz-input formControlName="authenticationUrl" type="text" placeholder="Enter Auth Url" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>Token Url</nz-form-label>
                <nz-form-control nzErrorTip="Token Url Is Required">
                    <input nz-input formControlName="tokenUrl" type="text" placeholder="Enter Token Url" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>Scope</nz-form-label>
                <nz-form-control nzErrorTip="Scope Is Required">
                    <input nz-input formControlName="scope" type="text" placeholder="Enter Scope" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="16" id="AWS_AUTH" *ngIf="f['type']?.value === AWS_AUTH" formGroupName="content">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>ClientId</nz-form-label>
                <nz-form-control nzErrorTip="ClientId Is Required">
                    <input nz-input formControlName="clientId" type="text" placeholder="Enter ClientId" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Client Secret</nz-form-label>
                <nz-form-control nzErrorTip="Client Secret Is Required">
                    <input nz-input formControlName="clientSecret" type="text" placeholder="Enter Client Secret" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Region</nz-form-label>
                <nz-form-control nzErrorTip="Region Is Required">
                    <input nz-input formControlName="region" type="text" placeholder="Enter Region" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>Bucket</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="bucket" type="text" placeholder="Enter Bucket" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Other</nz-form-label>
                <nz-form-control>
                    <textarea nz-input formControlName="other" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                        placeholder="Enter Other"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="16" id="FIREBASE" *ngIf="f['type']?.value === FIREBASE" formGroupName="content">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>Payload</nz-form-label>
                <nz-form-control nzErrorTip="Payload Is Required">
                    <textarea nz-input formControlName="firePayload" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                        placeholder="Enter Payload"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="16" id="FTP" *ngIf="f['type']?.value === FTP" formGroupName="content">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Host</nz-form-label>
                <nz-form-control nzErrorTip="Host Is Required">
                    <input nz-input formControlName="host" type="text" placeholder="Host ClientId" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Port</nz-form-label>
                <nz-form-control nzErrorTip="Port Is Required">
                    <input nz-input formControlName="port" type="text" placeholder="Port ClientId" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>User</nz-form-label>
                <nz-form-control nzErrorTip="User Is Required">
                    <input nz-input formControlName="user" type="text" placeholder="User ClientId" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Password</nz-form-label>
                <nz-input-group class="form-input-grp" [nzSuffix]="suffixTemplate">
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input class="form-input"
                        formControlName="password" placeholder="Enter Password" />
                    <ng-template #suffixTemplate>
                        <span nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible' "
                            (click)="passwordVisible = !passwordVisible"></span>
                    </ng-template>
                </nz-input-group>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>DirectoryPath</nz-form-label>
                <nz-form-control>
                    <textarea nz-input formControlName="directoryPath" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                        placeholder="Enter DirectoryPath"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button type="reset">Clear</button>
            <button nz-button [nzType]="'primary'" type="submit" [disabled]="!credentialForm.valid"
                style="float: right;">Submit</button>
        </div>
    </div>
</form>