<div class="content">
    <h3>Search Query</h3>
    <nz-divider style="margin: 5px 0;"></nz-divider>
    <form nz-form *ngIf="tableQueryForm" [formGroup]="tableQueryForm" (ngSubmit)="dynamicQueryResponse()">
        <nz-form-item>
            <nz-form-control [nzSpan]="24" nzErrorTip="Please Query For Result!">
                <textarea formControlName="query" id="query" nz-input placeholder="Enter Select Query For Result"
                    [nzAutosize]="{ minRows: 5, maxRows: 6 }"></textarea>
            </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin" style="text-align: end;margin-top: 10px;">
            <div nz-col [nzSpan]="24">
                <button nz-button type="reset" (click)="clear()">
                    Clear</button>&nbsp;&nbsp;
                <button nz-button type="submit" nzType="primary" [disabled]="disabledSearch"
                    [nzLoading]="isSearchLoading">
                    <span nz-icon nzType="search" nzTheme="outline"></span>
                    Search</button>
            </div>
        </div>
    </form>
</div>
<div class="content" *ngIf="queryResponse">
    <div nz-row>
        <div nz-col [nzSpan]="21">
            <input nz-input placeholder="Search Result" [(ngModel)]="searchDetails" />
        </div>
        <div nz-col [nzSpan]="3" style="text-align: end;">
            <button nz-button [nzLoading]="isExportLoading" style="color: red;border: 1px solid;"
                (click)="exportExcel()">Export XLSX</button>
        </div>
    </div>
    <nz-divider style="margin: 5px 0;"></nz-divider>
    <div nz-row>
        <div nz-col [nzSpan]="24">
            <nz-table nzSize="small" #basicTable [nzData]="queryResponse.data" [nzFrontPagination]="false"
                style="font-size: 10px;display: block;overflow-x: auto;white-space: nowrap;">
                <thead>
                    <tr>
                        <th *ngFor="let data of queryResponse.column">{{data | uppercase}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let row of basicTable.data | searchdata: searchDetails;let i = index;'>
                        <td *ngFor='let col of queryResponse.column'>{{row[col]}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>