<div class="content">
    <h3>
        <span nz-icon nzType="link" nzTheme="outline"></span>
        {{genControlTable.title}}
    </h3>
    <nz-divider style="margin: 5px 0;"></nz-divider>
    <app-gen-table 
        *ngIf="genControlTable"
        [isDateFilter]="true"
        [startDate]="startDate"
        [endDate]="endDate"
        [setOfCheckedId]="setOfCheckedId"
        [staticTable]="genControlTable"
        (actionEventEmitter)="tableActionReciver($event)"
        (buttonEventEmitter)="buttonActionReciver($event)"
        (filterEventEmitter)="filterActionReciver($event)"
        (extraEventEmitter)="extraActionReciver($event)">
    </app-gen-table>
</div>