<!-- profile-permission -->
<div class="content">
    <h3>
        <span nz-icon nzType="link" nzTheme="outline"></span>
        {{title}}
    </h3>
    <nz-divider style="margin: 5px 0;"></nz-divider>
    <nz-tabset nzSize="small" nzTabPosition="left">
        <!-- role -->
        <nz-tab [nzTitle]="roleTemplate">
            <ng-template #roleTemplate>
                <span nz-icon nzType="lock" nzTheme="outline"
                    nz-tooltip nzTooltipTitle="{{roleTable.title}}">
                </span>
            </ng-template>
            <h3>
                <span nz-icon nzType="lock" nzTheme="outline"></span>
                {{roleTable.title}}
            </h3>
            <hr>
            <app-gen-table
                *ngIf="roleTable"
                [isDateFilter]="false"
                [staticTable]="roleTable"
                [setOfCheckedId]="setOfRoleCheckedId"
                (buttonEventEmitter)="buttonRoleActionReciver($event)"
                (actionEventEmitter)="tableRoleActionReciver($event)"
                (extraEventEmitter)="extraRoleActionReciver($event)">
            </app-gen-table>
        </nz-tab>
        <!-- profile -->
        <nz-tab [nzTitle]="profileTemplate">
            <ng-template #profileTemplate>
                <span nz-icon nzType="profile" nzTheme="outline"
                    nz-tooltip nzTooltipTitle="{{profileTable.title}}">
                </span>
            </ng-template>
            <h3>
                <span nz-icon nzType="profile" nzTheme="outline"></span>
                {{profileTable.title}}
            </h3>
            <hr>
            <app-gen-table
                *ngIf="profileTable"
                [isDateFilter]="false"
                [staticTable]="profileTable"
                [setOfCheckedId]="setOfProfileCheckedId"
                (buttonEventEmitter)="buttonProfileActionReciver($event)"
                (actionEventEmitter)="tableProfileActionReciver($event)"
                (extraEventEmitter)="extraProfileActionReciver($event)">
            </app-gen-table>
        </nz-tab>
        <!-- permission -->
        <nz-tab [nzTitle]="permissionTemplate">
            <ng-template #permissionTemplate>
                <span nz-icon nzType="reconciliation" nzTheme="outline"
                    nz-tooltip nzTooltipTitle="{{permissionTable.title}}">
                </span>
            </ng-template>
            <h3>
                <span nz-icon nzType="reconciliation" nzTheme="outline"></span>
                {{permissionTable.title}}
            </h3>
            <hr>
            <app-gen-table
                *ngIf="permissionTable"
                [isDateFilter]="false"
                [staticTable]="permissionTable"
                [setOfCheckedId]="setOfPermissionCheckedId"
                (buttonEventEmitter)="buttonPermissionActionReciver($event)"
                (actionEventEmitter)="tablePermissionActionReciver($event)"
                (extraEventEmitter)="extraPermissionActionReciver($event)">
            </app-gen-table>
        </nz-tab>
        <!-- profile & permission -->
        <nz-tab [nzTitle]="lppTemplate">
            <ng-template #lppTemplate>
                <span nz-icon nzType="control" nzTheme="outline"
                    nz-tooltip nzTooltipTitle="Link Profile & Permission">
                </span>                    
            </ng-template>
            <h3>
                <span nz-icon nzType="control" nzTheme="outline"></span>
                Link Profile & Permission
            </h3>
            <hr>
            <div style="padding-left: 0px;padding-right: 0px;">
                <app-pp-crose-table></app-pp-crose-table>
            </div>
        </nz-tab>
        <!-- country -->
        <nz-tab [nzTitle]="countryTemplate">
            <ng-template #countryTemplate>
                <span nz-icon nzType="flag" nzTheme="outline"
                    nz-tooltip nzTooltipTitle="{{countryTable.title}}">
                </span>
            </ng-template>
            <h3>
                <span nz-icon nzType="flag" nzTheme="outline"></span>
                {{countryTable.title}}
            </h3>
            <hr>
            <app-gen-table
                *ngIf="countryTable"
                [isDateFilter]="false"
                [staticTable]="countryTable">
            </app-gen-table>
        </nz-tab>
    </nz-tabset>
</div>